@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <L class="display-4">Educational Resources Information Library of Polytechnic University of the Philippines – Parañaque Campus ERIL
    <p> 3BIT </p>
</div>
